.header {
  text-decoration: none;
  background-color: $second-text-color;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 21px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
  }
}

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header__thumb {
  display: flex;
  align-items: baseline;
}

.menu__button {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__icon {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.header__nav {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    display: none;
  }
}
.header__list {
  display: flex;
  align-items: baseline;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.list__item {
  @include font(500, 14px, 1.14, 0.02em);
}

.list__item:not(:last-child),
.list__contact:not(:last-child) {
  margin-right: 50px;
}

.list__link {
  display: block;
  text-decoration: none;
  color: inherit;
  position: relative;
  padding-bottom: 28px;
  @include transition;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.current .list__link::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: $accent-color;
  height: 4px;
  border-radius: 2px;
  left: 0;
  bottom: 0;
}

.contacts {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    display: none;
  }
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.contacts__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.list__point {
  align-items: center;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

.list__point:last-child {
  margin-right: 0;
}

.list__contact {
  color: $paragraph-text-color;
  text-decoration: none;
  margin-right: 30px;
  display: flex;
  @media screen and (min-width: 768px) {
    @include font(500, 12px, 1.16, 0.02em);
  }

  @media screen and (min-width: 1200px) {
    @include font(500, 14px, 1.14, 0.02em);
  }
  @include transition();
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.list__contact:last-child {
  margin-right: 0;
}

.list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.current {
  color: $accent-color;
}
