.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: 768px) {
    margin-left: -30px;
  }
}

.grid__item {
  display: flex;
  flex-direction: column;
  background-color: var(--second-text-color);
  @media screen and (min-width: 480px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-bottom: 30px;
    margin-left: 30px;
  }
  @include transition($tp: filter);
  &:hover,
  &:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  &:nth-child(3n + 1) {
    margin-left: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.grid__thumb {
  position: relative;
  overflow: hidden;
}

.grid__link {
  display: block;
  text-decoration: none;
}

.grid__overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  padding-right: 24px;
  padding-left: 24px;
  top: 0;
  left: 0;
  transform: translateY(100%);
  @include transition($tp: transform);
}

.grid__item:hover .grid__overlay {
  transform: translateY(0);
}

.grid__description {
  @include font(null, 18px, 1.56, 0.03em);
  color: $second-text-color;
  max-height: 168px;
  top: 50%;
  left: 50%;
  padding-top: 63px;
}

.grid__card {
  @media screen and (min-width: 480px) {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 56px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 20px;
  }
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.card__name {
  margin-bottom: 4px;
  @include font(null, 18px, 2, 0.06em);
  color: $main-text-color;
}

.card__comment {
  @include font(null, 16px, 1.87, 0.03em);
  color: $paragraph-text-color;
}
