.logo {
  text-decoration: none;
  display: flex;

  font-family: "Raleway";
  @media screen and (min-width: 480px) {
    @include font(700, 24px, 1.16, 0.03em);
  }
  @media screen and (min-width: 1200px) {
    @include font(700, 26px, 1.19, null);
    margin-right: 93px;
  }

  color: $accent-color;
}

.logo__part--light {
  color: $second-text-color;
}

.logo__part--dark {
  color: $logo-color;
}

.logo__part {
  font-family: "Raleway";
}
