.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  @media screen and (max-width: 479px) {
    // padding-top: 93px;
    // padding-right: 15px;
    // padding-left: 15px;
  }
  @include transition($tp: opacity visibility, $td: 3000ms);
}

.modal {
  position: absolute;

  @media screen and (max-width: 479px) {
    width: calc(100% - 30px);
  }
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    min-height: 609px;
    min-width: 450px;
  }
  @media screen and (min-width: 1200px) {
    min-height: 581px;
    max-width: 528px;
  }
  background-color: $second-text-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  @include transition($tp: transform, $td: 3000ms);
  transform: scale(1) translate(-50%, -50%) rotate(1turn);
  opacity: 1;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.form__group {
  display: flex;
  flex-direction: column;
}

.form__close {
  cursor: pointer;
  margin-top: 8px;
  margin-right: 8px;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $second-text-color;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  z-index: 1;
  @include transition($tp: fill);
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.form__header {
  display: inline-block;
  text-align: center;
  color: $main-text-color;
  margin-bottom: 12px;
  @media screen and (max-width: 1199px) {
    @include font(null, null, 1.5, null);
  }
  @include font(700, 20px, 1.15, 0.03em);
}

.field {
  margin-bottom: 10px;
}

.field__label {
  @include transition($tp: transform);
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}

.field__text,
.textarea__text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $paragraph-text-color;
}

.field__input {
  border-color: transparent;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  display: flex;
  @include transition($tp: border);
  &:hover,
  &:focus {
    border: 1px solid #2196f3;
  }
}

textarea {
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-left: 16px;
  margin-top: 4px;
  font-family: "Roboto";
  @media screen and (max-width: 1199px) {
    @include font(null, null, 1.14, null);
  }
  color: rgba(117, 117, 117, 0.5);
  @include font(null, 12px, 1.16, 0.01em);
  @include transition($tp: border);
}

.textarea__placeholder:focus,
.textarea__placeholder:hover {
  outline: transparent;
  border: 1px solid $accent-color;
}

.field__icon {
  position: absolute;
  margin-left: 12px;
  margin-right: 12px;
  @include transition($tp: fill);
  transform: translateY(-29px) translateX(-1px);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.field__input:focus + .field__icon {
  fill: $accent-color;
}

.checkbox {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.checkbox__input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox__icon {
  display: flex;
  min-width: 16px;
  min-height: 15px;
  border: 1px solid $logo-color;
  background-color: transparent;
  background-image: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  @include transition($tp: border background-color box-shadow background-image);
}

.checkbox__input:checked + .checkbox__icon {
  box-shadow: none;
  border: 1px solid $accent-color;
  background-color: $accent-color;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-radius: 2px;
  @include transition($tp: background-color background-image box-shadow);
}

.checkbox__agreement {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $paragraph-text-color;
  margin-left: 8.38px;
  @media screen and (max-width: 1199px) {
    @include font(null, 12px, 1.16, null);
  }
}

.agreement__link {
  color: $accent-color;
}

.checkbox__btn {
  @extend %btn;
  padding-right: 55px;
  padding-left: 56px;
  justify-content: center;
  border-color: transparent;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 30px;
  &:hover,
  &:focus {
    background-color: $btn-selection-color;
  }
}

.backdrop.is-hidden .modal {
  transform: scale(1.5) translate(-50%, -50%);
  @include transition(transform, 3000ms, null);
}
